<%= form_with(model: recipe, local: true) do |form| %>
  <% if recipe.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(recipe.errors.count, "error") %> prohibited this recipe from being saved:</h2>

      <ul>
      <% recipe.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name %>
  </div>

  <div class="field">
    <%= form.label :ingredient %>
    <%= form.text_area :ingredient %>
  </div>

  <div class="field">
    <%= form.label :instructions %>
    <%= form.text_area :instruction %>
  </div>

  <div class="field">
    <%= form.label :preptime %>
    <%= form.text_field :preptime %>
  </div>

  <div class="field">
    <%= form.label :serving_size %>
    <%= form.text_field :serving_size %>
  </div>

  <div class="field">
    <%= form.label :agerange %>
    <%= form.text_field :agerange %>
  </div>

  <div class="field">
    <%= form.label :visuals %>
    <%= form.text_area :visual %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>