

<div class = "body">


		<div class = "row">

				<div class="col-3">

					<button type="button" class="btn btn-warning" id= "newrecipe">
						<%= link_to 'New Recipe', new_recipe_path %>
					</button>



					<div id  = "filterbox">
							<p> Find by <strong>recipe name:</strong></p>

							<div>
										<%= form_tag(recipes_path, :method => "get", id: "search-form") do %>
									  <%= text_field_tag :search, params[:search], placeholder: "Search for Recipes" %> <br/>

									  <button type="button" class="btn btn-warning" style="margin-top: 10px;">
									  <%= submit_tag "Search", :name => nil, :style => " background-color: transparent; border: none;" %>
										</button>

									  <% end %>
							</div>

					</div>


					<div id  = "filterbox">
								<p> Find by <strong>ingredients:</strong></p>

								<p id="vegetables">
									  <a class="btn btn-light" data-toggle="collapse" href="#collapseExample1" role="button" aria-expanded="false" aria-controls="collapseExample1">
									    <img src= "vegetable_logo.png" style = "width: 30px"/>
									    VEGETABLES
									  </a>
								</p>

								<div class="collapse" id="collapseExample1">
										  <div class="card card-body">

										  	<%= link_to "Brocolli", recipes_path(:search =>"Brocolli") %>
												<%= link_to "Spinach", recipes_path(:search =>"Spinach") %>
												<%= link_to "Tomatoes", recipes_path(:search =>"Tomatoes") %>
												<%= link_to "Carrots", recipes_path(:search =>"Carrots") %>

										  </div>
								</div>

								<hr/>

								<p id="grains">
									  <a class="btn btn-light" data-toggle="collapse" href="#collapseExample2" role="button" aria-expanded="false" aria-controls="collapseExample2">
									    <img src= "grain_logo.png" style = "width: 30px"/>
									    GRAINS
									  </a>
								</p>

								<div class="collapse" id="collapseExample2">
										  <div class="card card-body">

										  	<%= link_to "Rice", recipes_path(:search =>"Rice") %>
												<%= link_to "Barley", recipes_path(:search =>"Barley") %>
 												<%= link_to "Quinoa", recipes_path(:search =>"Quinoa") %>
												<%= link_to "Couscous", recipes_path(:search =>"Couscous") %>

										  </div>
								</div>

								<hr/>

								<p id="proteins">
									  <a class="btn btn-light" data-toggle="collapse" href="#collapseExample3" role="button" aria-expanded="false" aria-controls="collapseExample3">
									  	<img src= "protein_logo.png" style = "width: 30px"/>
									    PROTEINS
									  </a>
								</p>

								<div class="collapse" id="collapseExample3">
                	<div class="card card-body">
                		<%= link_to "Fish", recipes_path(:search =>"Fish") %>
										<%= link_to "Chicken", recipes_path(:search =>"Chicken") %>
										<%= link_to "Beef", recipes_path(:search =>"Beef") %>
										<%= link_to "Prawn", recipes_path(:search =>"Prawn") %>
                   </div>
               </div>
         </div>


					<hr/>

					<div id  = "filterbox">

							<p> Find by <strong>Age Range:</strong></p>

									<div class="panel-body">

											<button class="btn btn-info btn-pressure btn-sensitive" id="agerange1">
												<%= link_to "less than 9 months", recipes_path(:searchage => "less than 9 months") %>
											</button><br/>

			                <button class="btn btn-success" id="agerange2">
			                	<%= link_to "9 months to 12 months", recipes_path(:searchage => "9 months to 12 months") %>
			              	</button><br/>


			                <button class="btn btn-warning" id="agerange3">
			                	<%= link_to "12 months and above", recipes_path(:searchage => "12 months and above") %>
			              	</button>
			      		</div>
			   </div>

				</div>

				<div class="col-9">

					<div class ="row" id="logo">
							<img src= "logo.png" style = "width: 200px"/><br/>
							<a href="/forums" class="btn btn-info" role="button" aria-disabled="true"> Meet other Parents! </a>
							<p id="notice"><%= notice %></p>

					</div>

										<div class = "row recipes">
											<% @recipe.each do |recipe| %>
												<div class = "col-4 recipe">
											  	<div class="card">
											  		<div class="card-img">
											  			<img src= <%= recipe.visual %> class='card-img-top' alt="...">
											  		</div>
											  		<div class="card-body">

												    	<h5 class="card-title" style = "text-align: center"> <%= recipe.name %></h5>

													    <div class ="agerange" style="background-color: #e9f0f0; padding-top: 15px; padding-left: 30px; padding-bottom: 10px; padding-right: 30px; text-align: center">
													    		<h6> <%= recipe.agerange.agerange %> </h6>
													    </div>

												    	<button type="button" class="btn btn-outline-info" id = "updatebutton" style = "padding-left:52px; padding-right:52px; margin-top: 6px; margin-bottom: 6px;">
												    			<%= link_to 'View Full Recipe', recipe %>
												    	</button><br/>

												    	<button type="button" class="btn btn-outline-warning" id = "updatebutton"style = "padding-left:57px; padding-right:57px; margin-top: 6px; margin-bottom: 6px;">
												    			<%= link_to 'Update Recipe', edit_recipe_path(recipe) %>
												    	</button><br/>

												    	<button type="button" class="btn btn-outline-danger" id = "updatebutton" style = "padding-left:60px; padding-right:60px; margin-top: 6px; margin-bottom: 6px;">
												    			<%= link_to 'Delete Recipe', recipe, method: :delete, data: { confirm: 'Are you sure?' } %>
												    	</button><br/>

												    </div>
												  </div>
										  	</div>
											<% end %>
										</div>

				</div>


		</div>
</div>


		<%= stylesheet_pack_tag 'recipe' %>

</div>