<body id = "showlayout">

			<div class = "container">

					<div class = "row">

						<div class="card mb-3">

							  <div class="card-body">
								  	<p id="notice", style ="display: inline-block;">
								  		<%= notice %>
								  	</p>

								  	<div class = "row">
							    			<h5 class="card-title" id= "showcardtitle"><%= @recipe.name %></h5>
							    	</div>


							    	<div class = "row">
							    		<div class="col-6" id="showcard">

								    			<img src="<%= @recipe.visual %>" class="card-img-top" alt="recipe-image" style = "width: 300px">

								    			<p>
										  			<strong>Ingredient:</strong>
										  			<%= @recipe.ingredient %>
													</p>

													<p>
										  			<strong>Instructions:</strong>
										  			<%= @recipe.instruction %>
													</p>

							    		</div>

							    		<div class="col-6">

							    			<h1> comment box here </h1>

							    		</div>
							    	</div>

							    		<div class = "row">
							    			<%= @recipe.preptime %> | <%= @recipe.serving_size %> | <%= @age.agerange %>
							    		</div>

							    		<div class = "row">
											    <p class="card-text">
											    	<%= link_to 'Edit', edit_recipe_path(@recipe) %> |
														<%= link_to 'Back', recipes_path %>
										   		</p>
										  </div>


				</div>
		</div>
</body>