<body id = "showlayout">

			<div class = "container">

					<div class = "row">

						<div class="card mb-3">
						  <img src= <%= @recipe.visual %>, class="card-img-top" alt="recipe-image">

							  <div class="card-body">
								  	<p id="notice", style ="display: inline-block;">
								  		<%= notice %>
								  	</p>

								  	<div class = "row">
							    			<h5 class="card-title"><%= @recipe.name %></h5>
							    	</div>


							    	<div class = "row">
							    		<div class="col-6">
								    			<p>
										  			<strong>Ingredient:</strong>
										  			<%= @recipe.ingredient %>
													</p>
							    		</div>

							    		<div class="col-6">
								    			<p>
										  			<strong>Instructions:</strong>
										  			<%= @recipe.instruction %>
													</p>
							    		</div>
							    	</div>

							    		<div class = "row">
							    			<%= @recipe.preptime %> | <%= @recipe.serving_size %> | <%= @recipe.agerange %>
							    		</div>

							    		<div class = "row">
											    <p class="card-text">
											    	<%= link_to 'Edit', edit_recipe_path(@recipe) %> |
														<%= link_to 'Back', recipes_path %>
										   		</p>
										  </div>


				</div>
		</div>
</body>